In [1]:
import pandas as pd
import numpy as np

In [49]:
df= pd.read_csv("netflix_titles_sample.csv")

In [50]:
print("Original Data:")

Original Data:

In [51]:
df.shape

(8983, 12)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8983 entries, 0 to 8982
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8983 non-null   object
 1   type          8983 non-null   object
 2   title         8983 non-null   object
 3   director      6004 non-null   object
 4   cast          7730 non-null   object
 5   country       7728 non-null   object
 6   date_added    8516 non-null   object
 7   release_year  8983 non-null   int64
 8   rating        8979 non-null   object
 9   duration      8980 non-null   object
 10  listed_in     8983 non-null   object
 11  description   8983 non-null   object
dtypes: int64(1), object(11)
memory usage: 842.3+ KB

In [53]:
df.describe()

       release_year
count   8983.000000
mean    2014.183569
std        8.800571
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [54]:
df.head(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,united states,25-09-2021,2020,pg-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,tv show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",south africa,"September 24, 2021",2021,tv-ma,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,tv show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,09/24/2021,2021,tv-ma,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV SHOW,Jailbirds New Orleans,NaN,NaN,NaN,24-09-2021,2021,tv-ma,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."

In [55]:
df.tail(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8979,s2989,movie,Menashe,"Josh Z. Weinstein, Joshua Z. Weinstein","Menashe Lustig, Ruben Niborski, Yoel Weisshaus...",united states,25-01-2020,2017,pg,82 min,"Dramas, Independent Movies","A year after his wife's death, a widower faces..."
8980,s4237,MOVIE,Mexicanos de Bronce,NaN,NaN,NaN,NaN,2016,tv-ma,100 min,"Documentaries, International Movies, Music & M...","When street vices keep them coming back, three..."
8981,s578,TV SHOW,Masameer County,Malik Nejer,"Malik Nejer, Abdulaziz Alshehri, Mazroa Almazr...",NaN,07/01/2021,2021,tv-ma,1 Season,"International TV Shows, TV Comedies","A humorous view on a changing Saudi, this seas..."
8982,s2399,movie,Okko's Inn,Kitaro Kosaka,"Seiran Kobayashi, Nana Mizuki, Satsumi Matsuda...",japan,"June 12, 2020",2018,pg,96 min,"Anime Features, Children & Family Movies","After losing her parents, a young girl learns ..."

In [56]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [57]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [58]:
df.index

RangeIndex(start=0, stop=8983, step=1)

In [59]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df['country'].unique()

array(['united states', 'south africa', nan, 'india',
       'united states, ghana, burkina faso, united kingdom, germany, ethiopia',
       'united kingdom', 'germany, czech republic', 'mexico', 'australia',
       'united states, india, france', 'finland',
       'china, canada, united states',
       'south africa, united states, japan', 'nigeria', 'japan',
       'spain, united states', 'france', 'belgium',
       'united kingdom, united states', 'united states, united kingdom',
       'france, united states', 'south korea', 'spain',
       'united states, singapore', 'united kingdom, australia, france',
       'united kingdom, australia, france, united states',
       'united states, canada', 'germany, united states',
       'south africa, united states', 'united states, mexico',
       'united states, italy, france, japan',
       'united states, italy, romania, united kingdom',
       'australia, united states', 'argentina, venezuela',
       'united states, united kingdom, canada', 'china, hong kong',
       'russia', 'canada', 'hong kong', 'united states, china, hong kong',
       'italy, united states', 'united states, germany',
       'united kingdom, canada, united states', ', south korea',
       'ireland', 'new zealand, australia, france, united states',
       'italy', 'italy, brazil, greece', 'argentina', 'jordan',
       'colombia', 'united states, japan', 'belgium, united kingdom',
       'switzerland, united kingdom, australia', 'israel, united states',
       'canada, united states', 'brazil', 'argentina, spain', 'taiwan',
       'united states, nigeria', 'bulgaria, united states',
       'spain, united kingdom, united states', 'united states, china',
       'united states, france',
       'spain, france, united kingdom, united states',
       ', france, algeria', 'poland', 'germany',
       'france, israel, germany, united states, united kingdom',
       'new zealand', 'saudi arabia', 'thailand', 'indonesia',
       'egypt, denmark, germany', 'united states, switzerland',
       'hong kong, canada, united states', 'kuwait, united states',
       'france, canada, united states, spain',
       'france, netherlands, singapore', 'france, belgium',
       'ireland, united states, united kingdom', 'egypt', 'malaysia',
       'israel', 'australia, new zealand', 'united kingdom, germany',
       'belgium, netherlands', 'south korea, czech republic',
       'australia, germany', 'vietnam', 'united kingdom, belgium',
       'united kingdom, australia, united states',
       'france, japan, united states',
       'united kingdom, germany, spain, united states',
       'united kingdom, united states, france, italy',
       'united states, germany, canada',
       'united states, france, italy, united kingdom',
       'united states, united kingdom, germany, hungary',
       'united states, new zealand', 'lebanon', 'romania',
       'finland, germany', 'lebanon, syria', 'philippines', 'iceland',
       'turkey', 'denmark', 'united states, india',
       'philippines, singapore, indonesia',
       'china, united states, canada', 'canada, united states, denmark',
       'united arab emirates', 'mexico, france, colombia', 'netherlands',
       'sweden', 'germany, united states, france',
       'united states, bulgaria',
       'united kingdom, france, germany, united states',
       'norway, denmark', 'syria, france, lebanon, qatar',
       'united states, czech republic', 'mauritius',
       'canada, south africa', 'austria', 'mexico, brazil', 'china',
       'germany, france', 'mexico, united states',
       'united kingdom, france, spain, united states',
       'united states, australia',
       'united states, united kingdom, france', 'united states, russia',
       'united states, united kingdom, new zealand',
       'australia, united kingdom', 'canada, nigeria, united states',
       'france, united states, united kingdom, canada',
       'france, united kingdom', 'india, united kingdom',
       'canada, united states, mexico',
       'united kingdom, germany, united states',
       'czech republic, united kingdom, united states',
       'china, united kingdom', 'italy, united kingdom', 'china, taiwan',
       'united states, brazil, japan, spain, india',
       'united states, china, united kingdom', 'cameroon',
       'lebanon, palestine, denmark, qatar', 'japan, united states',
       'uruguay, germany', 'egypt, saudi arabia',
       'united kingdom, france, poland, germany, united states',
       'ireland, switzerland, united kingdom, france, united states',
       'united kingdom, south africa, france', 'russia, united states',
       'united kingdom, united states, france', 'united kingdom,',
       'united states, india, united kingdom', 'kenya',
       'spain, argentina', 'india, united kingdom, france, qatar',
       'belgium, france', 'argentina, chile', 'united states, thailand',
       'chile, brazil', 'united states, colombia',
       'canada, united states, united kingdom', 'uruguay', 'luxembourg',
       'united states, cambodia, romania', 'bangladesh',
       'spain, belgium, united states',
       'united kingdom, united states, australia',
       'canada, united states, france', 'portugal, united states',
       'portugal, spain', 'india, united states',
       'united kingdom, ireland', 'united kingdom, spain, united states',
       'hungary, united states', 'united states, south korea',
       'canada, united states, cayman islands', 'india, france',
       'france, canada', 'norway',
       'canada, united kingdom, united states',
       'united kingdom, germany, france, united states',
       'denmark, united states', 'senegal', 'france, algeria',
       'philippines, canada, united kingdom, united states',
       'ireland, france, iceland, united states, mexico, belgium, united kingdom, hong kong',
       'singapore', 'kuwait', 'united states, france, serbia',
       'united states, italy', 'spain, italy',
       'united states, ireland, united kingdom, india',
       'united kingdom, singapore', 'hong kong, united states',
       'united states, china, canada', 'canada, united states, ireland',
       'lebanon, canada, france', 'japan, canada, united states',
       'spain, france, canada',
       'denmark, singapore, canada, united states',
       'united states, france, denmark', 'united states, china, colombia',
       'spain, thailand, united states', 'mexico, spain',
       'ireland, luxembourg, belgium', 'china, united states',
       'canada, belgium', 'canada, united kingdom',
       'lebanon, united arab emirates, france, switzerland, germany',
       'lebanon, united states, united arab emirates', 'lebanon, france',
       'france, lebanon', 'france, lebanon, united kingdom',
       'france, norway, lebanon, belgium',
       'sweden, czech republic, united kingdom, denmark, netherlands',
       'united states, united kingdom, india', 'indonesia, netherlands',
       'turkey, south korea', 'serbia, united states', 'namibia',
       'united kingdom, kenya', 'united kingdom, france, germany, spain',
       'united kingdom, france, united states, belgium, luxembourg, china, germany',
       'thailand, united states',
       'united states, france, canada, belgium', 'united kingdom, china',
       'germany, china, united kingdom',
       'australia, new zealand, united states',
       'hong kong, iceland, united states', 'france, australia, germany',
       'united states, belgium, canada, france', 'south africa, angola',
       'united states, philippines',
       'united states, united kingdom, canada, china',
       'united states, canada, united kingdom', 'turkey, united states',
       'peru, germany, norway', 'mozambique', 'brazil, france',
       'china, spain, south korea, united states', 'spain, germany',
       'hong kong, china', 'france, belgium, luxembourg, cambodia,',
       'united kingdom, australia', 'belarus',
       'indonesia, united kingdom',
       'switzerland, france, belgium, united states', 'ghana',
       'spain, france, canada, united states', 'chile, italy',
       'united kingdom, nigeria', 'chile', 'france, egypt',
       'egypt, france', 'france, brazil, spain, belgium',
       'egypt, algeria', 'canada, south korea, united states',
       'nigeria, united kingdom', 'united states, france, canada',
       'poland, united states',
       'united arab emirates, jordan, lebanon, saudi arabia',
       'united states, mexico, spain, malta',
       'saudi arabia, united arab emirates', 'zimbabwe',
       'united kingdom, germany, united arab emirates, new zealand',
       'romania, united states', 'canada, nigeria',
       'saudi arabia, netherlands, germany, jordan, united arab emirates, united states',
       'united kingdom, spain', 'finland, france',
       'united kingdom, germany, united states, france',
       'india, united kingdom, china, canada, japan, south korea, united states',
       'italy, united kingdom, france', 'united states, mexico, colombia',
       'turkey, india', 'italy, turkey',
       'united kingdom, united states, japan',
       'france, belgium, united states',
       'puerto rico, united states, colombia', 'uruguay, argentina',
       'united states, united kingdom, japan', 'united states, argentina',
       'united kingdom, italy', 'ireland, united kingdom',
       'united kingdom, france, belgium, canada, united states',
       'netherlands, germany, denmark, united kingdom', 'hungary',
       'austria, germany', 'taiwan, china',
       'united kingdom, united states, ireland',
       'south korea, united states', 'brazil, united kingdom',
       'pakistan, united states', 'romania, france, switzerland, germany',
       'romania, united kingdom', 'france, malta, united states',
       'cyprus',
       'united kingdom, france, belgium, ireland, united states',
       'united states, norway, canada', 'kenya, united states',
       'france, south korea, japan, united states', 'taiwan, malaysia',
       'uruguay, argentina, germany, spain',
       'united states, united kingdom, france, germany, japan',
       'united states, france, japan',
       'united kingdom, france, united states',
       'spain, france, united states',
       'indonesia, south korea, singapore', 'united states, spain',
       'netherlands, germany, italy, canada',
       'spain, germany, denmark, united states', 'norway, sweden',
       'south korea, canada, united states, china',
       'argentina, uruguay, serbia', 'france, japan',
       'mauritius, south africa', 'united states, poland',
       'united kingdom, united states, germany, denmark, belgium, japan',
       'india, germany', 'india, united kingdom, canada, united states',
       'philippines, united states', 'romania, bulgaria, hungary',
       'uruguay, guatemala', 'united kingdom, canada',
       'mexico, united states, spain, colombia', 'canada, norway',
       'singapore, united states', 'finland, germany, belgium',
       'united kingdom, france', 'united kingdom, japan, united states',
       'spain, united kingdom', 'argentina, united states, mexico',
       'united states, south korea, japan', 'canada, australia',
       'italy, belgium', 'united states, united kingdom, germany',
       'switzerland', 'singapore, malaysia',
       'france, belgium, luxembourg, romania, canada, united states',
       'south africa, nigeria', 'spain, france',
       'united kingdom, hong kong', 'pakistan', 'brazil, united states',
       'denmark, brazil, france, portugal, sweden', 'india, turkey',
       'malaysia, singapore, hong kong', 'philippines, singapore',
       'australia, canada', 'taiwan, china, france, united states',
       'germany, italy', 'colombia, peru, united kingdom',
       'thailand, china, united states', 'argentina, united states',
       'sweden, united states', 'uruguay, spain, mexico',
       'france, luxembourg, canada', 'denmark, spain', 'chile, argentina',
       'united kingdom, belgium, sweden', 'canada, brazil',
       'italy, france', 'canada, germany',
       'pakistan, united arab emirates', 'ghana, united states',
       'mexico, finland', 'united arab emirates, united kingdom, india',
       'netherlands, belgium', 'united states, taiwan',
       'austria, iraq, united states', 'united kingdom, malawi',
       'paraguay, argentina', 'united kingdom, russia, united states',
       'india, pakistan', 'indonesia, singapore', 'spain, belgium',
       'iceland, sweden, belgium', 'croatia', 'uruguay, argentina, spain',
       'united kingdom, ireland, united states',
       'canada, germany, france, united states', 'united kingdom, japan',
       'norway, denmark, netherlands, sweden',
       'hong kong, china, united states', 'ireland, canada',
       'italy, switzerland, france, germany', 'mexico, netherlands',
       'united states, sweden', 'germany, france, russia',
       'france, iran, united states', 'united kingdom, india',
       'russia, poland, serbia', 'spain, portugal', 'peru',
       'mexico, argentina',
       'united kingdom, canada, united states, cayman islands',
       'indonesia, united states',
       'united states, israel, united kingdom, canada',
       'norway, iceland, united states', 'czech republic, united states',
       'united kingdom, india, united states',
       'united kingdom, west germany', 'india, australia',
       'united states,', 'belgium, united kingdom, united states',
       'india, germany, austria',
       'united states, brazil, south korea, mexico, japan, germany',
       'spain, mexico', 'china, japan', 'argentina, france',
       'china, united states, united kingdom',
       'france, luxembourg, united states',
       'china, united states, australia', 'colombia, mexico',
       'united states, canada, ireland', 'chile, peru',
       'argentina, italy', 'canada, japan, united states',
       'united kingdom, canada, united states, germany',
       'italy, switzerland, albania, poland',
       'united states, japan, canada', 'cambodia',
       'saudi arabia, syria, egypt, lebanon, kuwait',
       'united states, canada, indonesia, united kingdom, china, singapore',
       'spain, colombia',
       'united kingdom, south africa, australia, united states',
       'bulgaria', 'argentina, brazil, france, poland, germany, denmark',
       'united kingdom, spain, united states, germany',
       'philippines, qatar', 'netherlands, belgium, germany, jordan',
       'united arab emirates, united states', 'norway, germany, sweden',
       'south korea, china', 'georgia', 'soviet union, india',
       'australia, united arab emirates', 'canada, germany, south africa',
       'south korea, china, united states', 'india, soviet union',
       'india, mexico', 'georgia, germany, france',
       'united arab emirates, romania', 'germany, jordan, netherlands',
       'turkey, france, germany, poland', 'greece, united states',
       'france, united kingdom, united states', 'france, morocco',
       'cambodia, united states', 'united states, denmark',
       'united states, colombia, mexico',
       'united kingdom, italy, israel, peru, united states',
       'argentina, uruguay, spain, france',
       'united kingdom, france, united states, belgium',
       'france, canada, china, cambodia',
       'united kingdom, france, belgium, united states',
       'netherlands, united states', 'france, united kingdom, india',
       'czech republic, slovakia', 'singapore, france',
       'spain, switzerland', 'united states, australia, china',
       'south africa, united states, germany',
       'united states, united kingdom, australia',
       'spain, italy, argentina', 'chile, spain, argentina, germany',
       'west germany', 'lebanon, qatar',
       'united kingdom, jordan, qatar, iran', 'israel, germany, france',
       'canada, japan, netherlands', 'france, qatar',
       'united kingdom, germany, canada', 'ireland, south africa',
       'chile, united states, france', 'belgium, france, netherlands',
       'united kingdom, ukraine, united states',
       'germany, australia, france, china', 'norway, united states',
       'united states, bermuda, ecuador',
       'united states, hungary, ireland, canada',
       'united kingdom, egypt, united states',
       'united states, france, united kingdom', 'spain, mexico, france',
       'united states, south africa', 'hong kong, china, singapore',
       'south africa, china, united states', 'denmark, france, poland',
       'new zealand, united kingdom',
       'netherlands, denmark, south africa', 'iran, france',
       'united kingdom, united states, france, germany',
       'australia, france', 'united states, chile',
       'united kingdom, france, germany', 'canada, luxembourg',
       'canada, france', 'bulgaria, united states, spain, canada',
       'sweden, netherlands', 'france, united states, mexico',
       'australia, united kingdom, united arab emirates, canada',
       'australia, armenia, japan, jordan, mexico, mongolia, new zealand, philippines, south africa, sweden, united states, uruguay',
       'india, iran', 'france, belgium, spain',
       'denmark, sweden, israel, united states', 'united states, iceland',
       'united states, israel, italy, south africa',
       'netherlands, denmark, france, germany', 'south korea, japan',
       'united kingdom, pakistan', 'france, new zealand',
       'united kingdom, czech republic, united states, germany, bahamas',
       'china, germany, india, united states', 'germany, sri lanka',
       'united states, india, bangladesh',
       'united states, canada, france', 'brazil, france, germany',
       'germany, united states, hong kong, singapore',
       'france, germany, switzerland',
       'germany, france, luxembourg, united kingdom, united states',
       'united kingdom, canada, italy', 'czech republic, france',
       'taiwan, hong kong, united states, china', 'germany, australia',
       'united kingdom, poland, united states', 'denmark, zimbabwe',
       'united kingdom, south africa',
       'finland, sweden, norway, latvia, germany',
       'south africa, united states, new zealand, canada',
       'united states, italy, united kingdom, liechtenstein',
       'denmark, france, belgium, italy, netherlands, united states, united kingdom',
       'united states, australia, mexico',
       'united kingdom, czech republic, germany, united states',
       'france, china, japan, united states',
       'united states, south korea, china', 'germany, belgium',
       'pakistan, norway, united states',
       'united states, canada, belgium, united kingdom', 'venezuela',
       'canada, france, italy, morocco, united states',
       'canada, spain, france', 'united states, indonesia',
       'spain, france, italy',
       'united arab emirates, united states, united kingdom',
       'united kingdom, israel, russia', 'spain, cuba',
       'united states, brazil', 'united states, france, mexico',
       'united states, nicaragua',
       'united kingdom, united states, spain, germany, greece, canada',
       'italy, canada, france',
       'united kingdom, denmark, canada, croatia', 'italy, germany',
       'united states, france, united kingdom, japan',
       'united states, united kingdom, denmark, sweden',
       'united states, united kingdom, italy',
       'united states, france, canada, spain',
       'russia, united states, china', 'united states, canada, germany',
       'ireland, united states', 'united states, united arab emirates',
       'united states, ireland',
       'ireland, united kingdom, italy, united states', 'poland,',
       'slovenia, croatia, germany, czech republic, qatar',
       'canada, united kingdom, netherlands',
       'united states, spain, germany', 'india, japan',
       'china, south korea, united states',
       'united kingdom, france, belgium',
       'canada, ireland, united states',
       'united kingdom, united states, dominican republic',

In [61]:
df['country'].nunique()

716

In [62]:
df['country'].value_counts()

country
united states                            2738
india                                     938
united kingdom                            398
japan                                     240
south korea                               189
                                         ...
united states, sweden, norway               1
united states, greece, united kingdom       1
united kingdom, lithuania                   1
austria, united states                      1
united states, india, france                1
Name: count, Length: 716, dtype: int64

In [63]:
df.dropna().head(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,MOVIE,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","united states, ghana, burkina faso, united kin...","September 24, 2021",1993,tv-ma,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,tv show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",united kingdom,09/24/2021,2021,tv-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,MOVIE,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",united states,"September 24, 2021",2021,pg-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewhner, Milan Peschel, ...","germany, czech republic","September 23, 2021",2021,tv-ma,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...

In [64]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2979
cast            1253
country         1255
date_added       467
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [65]:
df.dropna().tail(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8974,s886,movie,Table Manners,Leli Maki,"Diaan Lawrenson, Renate Stuurman, Neels Van Ja...","canada, south africa","May 14, 2021",2018,tv-ma,104 min,"Comedies, Dramas, International Movies",When a housewife's picture-perfect life comes ...
8975,s6993,MOVIE,Hoodwinked Too! Hood vs. Evil,Mike Disa,"Hayden Panettiere, Glenn Close, Patrick Warbur...",united states,03-11-2018,2011,pg,86 min,"Children & Family Movies, Comedies","Fresh off a top-secret training, feisty heroin..."
8979,s2989,movie,Menashe,"Josh Z. Weinstein, Joshua Z. Weinstein","Menashe Lustig, Ruben Niborski, Yoel Weisshaus...",united states,25-01-2020,2017,pg,82 min,"Dramas, Independent Movies","A year after his wife's death, a widower faces..."
8982,s2399,movie,Okko's Inn,Kitaro Kosaka,"Seiran Kobayashi, Nana Mizuki, Satsumi Matsuda...",japan,"June 12, 2020",2018,pg,96 min,"Anime Features, Children & Family Movies","After losing her parents, a young girl learns ..."

In [66]:
df = df.fillna({
    'director': 'Unknown',
    'cast': 'Unknown',
    'rating': 'Not Rated',
    'country': 'Unknown'
})
df.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3837,s3838,TV SHOW,Jailbirds,Unknown,Unknown,Unknown,05/10/2019,2019,tv-ma,1 Season,"Docuseries, Reality TV","At the Sacramento County Jail, incarcerated wo..."

In [67]:
df.drop_duplicates().head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,united states,25-09-2021,2020,pg-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,tv show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",south africa,"September 24, 2021",2021,tv-ma,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,tv show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,09/24/2021,2021,tv-ma,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV SHOW,Jailbirds New Orleans,Unknown,Unknown,Unknown,24-09-2021,2021,tv-ma,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,tv show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",india,"September 24, 2021",2021,tv-ma,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [68]:
df = df.rename(columns={"date_added": "data_year"})
df.tail()

,show_id,type,title,director,cast,country,data_year,release_year,rating,duration,listed_in,description
8978,s260,movie,Pahuna,Unknown,Unknown,Unknown,NaN,2018,tv-pg,82 min,"Comedies, Dramas, International Movies","Fleeing unrest in their native Nepal, three yo..."
8979,s2989,movie,Menashe,"Josh Z. Weinstein, Joshua Z. Weinstein","Menashe Lustig, Ruben Niborski, Yoel Weisshaus...",united states,25-01-2020,2017,pg,82 min,"Dramas, Independent Movies","A year after his wife's death, a widower faces..."
8980,s4237,MOVIE,Mexicanos de Bronce,Unknown,Unknown,Unknown,NaN,2016,tv-ma,100 min,"Documentaries, International Movies, Music & M...","When street vices keep them coming back, three..."
8981,s578,TV SHOW,Masameer County,Malik Nejer,"Malik Nejer, Abdulaziz Alshehri, Mazroa Almazr...",Unknown,07/01/2021,2021,tv-ma,1 Season,"International TV Shows, TV Comedies","A humorous view on a changing Saudi, this seas..."
8982,s2399,movie,Okko's Inn,Kitaro Kosaka,"Seiran Kobayashi, Nana Mizuki, Satsumi Matsuda...",japan,"June 12, 2020",2018,pg,96 min,"Anime Features, Children & Family Movies","After losing her parents, a young girl learns ..."

In [69]:
df['country'] = df['country'].str.strip()
df['country']

0       united states
1        south africa
2             Unknown
3             Unknown
4               india
            ...
8978          Unknown
8979    united states
8980          Unknown
8981          Unknown
8982            japan
Name: country, Length: 8983, dtype: object

In [70]:
df['title']

0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8978                   Pahuna
8979                  Menashe
8980      Mexicanos de Bronce
8981          Masameer County
8982               Okko's Inn
Name: title, Length: 8983, dtype: object

In [71]:
df[['title', 'release_year']].head(10)

                              title  release_year
0              Dick Johnson Is Dead          2020
1                     Blood & Water          2021
2                         Ganglands          2021
3             Jailbirds New Orleans          2021
4                      Kota Factory          2021
5                     Midnight Mass          2021
6  My Little Pony: A New Generation          2021
7                           Sankofa          1993
8     The Great British Baking Show          2021
9                      The Starling          2021

In [72]:
 df['director'].fillna(df['rating'])

0                              Kirsten Johnson
1                                      Unknown
2                              Julien Leclercq
3                                      Unknown
4                                      Unknown
                         ...
8978                                   Unknown
8979    Josh Z. Weinstein, Joshua Z. Weinstein
8980                                   Unknown
8981                               Malik Nejer
8982                             Kitaro Kosaka
Name: director, Length: 8983, dtype: object

In [73]:
df.drop_duplicates(inplace=True)
df.head()

,show_id,type,title,director,cast,country,data_year,release_year,rating,duration,listed_in,description
0,s1,movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,united states,25-09-2021,2020,pg-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,tv show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",south africa,"September 24, 2021",2021,tv-ma,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,tv show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,09/24/2021,2021,tv-ma,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV SHOW,Jailbirds New Orleans,Unknown,Unknown,Unknown,24-09-2021,2021,tv-ma,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,tv show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",india,"September 24, 2021",2021,tv-ma,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [74]:
df['country'].str.lower().str.strip()

0       united states
1        south africa
2             unknown
3             unknown
4               india
            ...
8978          unknown
8979    united states
8980          unknown
8981          unknown
8982            japan
Name: country, Length: 8956, dtype: object

In [75]:
df['cast'] = df['cast'].fillna("Unknown")
df['cast']

0                                                 Unknown
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                 Unknown
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8978                                              Unknown
8979    Menashe Lustig, Ruben Niborski, Yoel Weisshaus...
8980                                              Unknown
8981    Malik Nejer, Abdulaziz Alshehri, Mazroa Almazr...
8982    Seiran Kobayashi, Nana Mizuki, Satsumi Matsuda...
Name: cast, Length: 8956, dtype: object

In [76]:
df['rating'] = df['rating'].fillna("Not Rated")
df['rating']

0       pg-13
1       tv-ma
2       tv-ma
3       tv-ma
4       tv-ma
        ...
8978    tv-pg
8979       pg
8980    tv-ma
8981    tv-ma
8982       pg
Name: rating, Length: 8956, dtype: object

In [77]:
df.columns = df.columns.str.strip().str.upper().str.replace(' ', '_')
df.columns

Index(['SHOW_ID', 'TYPE', 'TITLE', 'DIRECTOR', 'CAST', 'COUNTRY', 'DATA_YEAR',
       'RELEASE_YEAR', 'RATING', 'DURATION', 'LISTED_IN', 'DESCRIPTION'],
      dtype='object')

In [78]:
df.to_csv("netflix_titles_sample.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'netflix_titles_sample.csv'